<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>   
    <add name="CostModelTimeSheet" connectionString="data source=DC-SQLDEV1\VERSERDEV;initial catalog=CostModelTimesheet;persist security info=True;user id=sa;password=Xvrr6s%f;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CostModelTimeSheetDB" connectionString="data source=DC-SQLDEV1\VERSERDEV;initial catalog=CostModelTimesheet;persist security info=True;user id=sa;password=Xvrr6s%f;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>